database:
  dialect: postgres
  uri: host=myhost port=myport user=gorm dbname=gorm password=mypassword
storage:
  endpoint: 127.0.0.1:9000
  access_key_id: minioadmin
  access_key_secret: minioadmin
  ssl: false
  region: us-east-1
redis:
  host: 127.0.0.1
  port: 6379
log:
  - name: console
    level: debug
  - name: database
    level: error
debug: false
server:
  port: 8080
  origin:
    - http://127.0.0.1:8000
auth:
  session_timeout: 1200 # The valid duration of token without choosing "remember me"
  remember_me_timeout: 604800 # The valid duration of token with choosing "remember me"
  session_count: 10 # The count of maximum active sessions for a user
judger:
  token: REPLACE_THIS_WITH_RANDOM_STRING
polling_timeout: 60s
authentication: change_this_to_random_string
webauthn:
  display_name: EduOJ
  domain: localhost
  origin: http://localhost
  icon: http://localhost/favicon.ico
