database:
  dialect: postgres
  uri: host=myhost port=myport user=gorm dbname=gorm password=mypassword
redis:
  host: 127.0.0.1
  port: 6379
log:
  - name: console
    level: debug
  - name: database
    level: error
debug: false
server:
  port: 8080
