database:
  dialect: postgres
  uri: host=myhost port=myport user=gorm dbname=gorm password=mypassword
redis:
  host: 127.0.0.1
  port: 6379
log:
  - name: console
    level: debug
  - name: database
    level: error
debug: false
server:
  port: 8080
  origin:
    - http://127.0.0.1:8000
auth:
  session_timeout: 1200 # The valid duration of token without choosing "remember me"
  remember_me_timeout: 604800 # The valid duration of token with choosing "remember me"
  session_count: 10 # The count of maximum active sessions for a user
